# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

# Ansible
*.retry

# Claves SSH privadas
*.pem
*.ppk
id_rsa
id_ed25519

# Logs
*.log

# VS Code
.vscode/

# Inventario generado automáticamente desde Terraform
ansible/inventory.ini

# Entorno Python
.venv-ansible/
